/* GLOBAL */

.bg-red{
    background-color: #ED4637;
} 

.bg-orange{
    background-color: #F17F30;
} 

.bg-grey{
    background-color: #BAC3C3;
} 

.bg-deliveroo {
    background-color: #5ACDBD;
}
.color-deliveroo {
    color: #5ACDBD;
}

h1, h2, h3, h4 {
    font-family: stratos, sans-serif;
    font-weight: 600;
    font-style: normal;
    
}

h1 {
    font-size: 40px;
    line-height: 48px;
    padding-top: 55px;
    padding-bottom: 38px;
    letter-spacing: -0.03em;
    color: #461E63;

}

h2 {
    font-size: 22px;
    min-height: 22px;
    background-color: transparent;
}

h3 {
    font-size: 28px;
    min-height: 28px;
    background-color: transparent;
    margin-bottom: 0;
}

h5 {
    font-size: 14px;
    line-height: 19px;
    font-family: 'IBM Plex Sans', sans-serif;

}

.container100 {width: 100%}

/* HEADER */

header {
    height: 556px;
}

header a {
    text-decoration: none;
}
#welcome-header {
    width: 50%
}

menu {
    padding: 0;
}

menu img {
    height: 30px
}

.card-form{
    background-color: white;

}
/* A LA CARTE */

.row > div {
    /* background-color: white; */
    /* border: solid 1px red; */
    margin-bottom: 35px;
}

#a-la-carte .row > div > div {
background-size: cover;
background-position: center;  
height: 150px
}

.carte {
    height: 150px;
    width: 100%;
    background-size: cover;
}

.carte > h1 {
    color: white;
    text-align: center
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: transparent;
}

 #a-la-carte a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #00A396;
    padding-top: 0;
    text-decoration: none;
    
}

/* CHOIX DU COIN */

#examples {
    background-color: #FCEAE4;
    
}

/* #examples:before {
        content:"";
        background-color:#CCFFFF;
        position: absolute;
        height: 100%;
        width: 4000px;
        left: -2000px;
        z-index: -1;
} */


#examples p {
    margin-top: 0;  
}

#examples h2 {
    margin-bottom: 4px;
    margin-top: 7px;
}

#examples .carte {
    height: 175px;
}

/* OPTIONS */

#options a {
    font-family: stratos, sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: black;
    background-color: #F9FAFA;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 7px;
    margin-bottom: 18px;
    margin-right: 18px;
}
.hashtag {
    width: 980px
}

#options div {
    margin-bottom: 20px;
}

/* CHAUD */

#chaud {
    background-color: #F9FAFA;
  
}

#chaud .row >div:nth-child(1){
    background-image: url(https://cwa.roocdn.com/_next/static/business.33b3f32a.jpg);
    height: 240px;
    background-size: cover;
    background-position: center;

}
#chaud .row >div:nth-child(4){
    background-image: url(https://cwa.roocdn.com/_next/static/apps.f69c41a1.svg);
    height: 240px;
    background-size: cover;
    background-position: center;

}

#chaud .row >div:nth-child(2){
    background-color: white

}
#chaud .row >div:nth-child(3){
   background-color: white

}

.lat-right-biseau {
    background-color: white;
    width: 100px;
    height: 200%;
    right: -60px;
    transform: rotateZ(8deg);
}

.lat-left-biseau {
    background-color: white;
    width: 100px;
    height: 200%;
    left: -80px;
    top: -10px;
    transform: rotateZ(8deg);
}


/* WORK WITH US */

h4 {
    font-size: 40px;
    font-size: 40px;
    background-color: transparent;
}

#work img {
    width: 100%
}

.test {
    border: 1px solid black;
    background-color: #ED4637;
    height: 50%;
}

.bis-work{
    height: 50px; /* 50 */
    width: 500px; /* 500 */
    transform: rotate(-7deg);
    position: absolute;
    bottom: -15px;
    left: -20px;
}
.hcard {
    overflow: hidden;
    
    position:relative;
    
    
}



#work p {
    color: white;
    background-color: transparent;
}

#work article {
    height: 570px;
    margin-bottom: 15px;
}




@media(max-width:980px) {
    h3 {
        font-size: 24px;
        line-height: 24px;
    }
    h4{
        font-size: 32px;
        line-height: 32px;
    }
}

@media(max-width:768px) {
    #chaud .row > div:nth-child(3) p {
        display:none;
    }
    #work article {
        height: auto;
    }
    .bis-work {
        height: 500px;
        width: 1000px; 
        bottom: -440px;
    }
}

@media (max-width: 540px) {
    #welcome-header {
        position: relative;
        width: 100%;
        
    }

    .card-form {
        position: absolute;
        bottom: -200px;
        margin: auto;
    }
}













