body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middleCard {
  position: absolute;
  background-color: white;
  height: 100px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 1px violet; */
  border-radius: 10px;
  box-shadow: 0 0 4px rgb(214, 214, 214);
  h1 {
    font-size: 45px;
  }
  z-index: 99;
}

.player-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.turn-indicator {
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  border: 1px solid rgb(243, 243, 243);
  width: 100px;
  border-radius: 10px;
  margin: 15px;
}

.active {
  box-shadow: 0 3px #53bead, 0 4px 4px grey;
}

.Board {
  height: 300px;
  width: 300px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
}

.Square {
  background-color: white;
  height: 100px;
  width: 100px;
  border: solid 4px #53bead;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 45px;
    font-weight: 800;
  }
}

.removeBorderLeft {
  border-left: 0;
}
.removeBorderRight {
  border-right: 0;
}
.removeBorderTop {
  border-top: 0;
}
.removeBorderBottom {
  border-bottom: 0;
}

button {
  font-size: 25px;
  line-height: 42px;
  text-align: center;
  border: 1px solid rgb(243, 243, 243);
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    background-color: rgb(230, 230, 230);
  }
}

.svg-icon {
  width: 50px;
  height: 50px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
  stroke-width: 4;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 4;
}
