body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  padding-top: 20px;
}

.container {
  width: 1024px;
  margin: auto;
}

.Counter {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.Counter--screen {
  background-color: aqua;
  text-align: center;
}

.Counter button {
  display: inline-block;
  width: 30px;
}
