$deliveroo: #5acdbd;
$graphite: #2e3333;
$text: #808484 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Header {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: solid 1px rgb(207, 207, 207);
}

.Header--Logo {
  height: 40px;
  object-fit: contain;
}

.container {
  width: 85vw;
  margin: auto;
}

.RestaurantHeader {
  /* height: 400px; */
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;

  img {
    height: 200px;
    width: 350px;
    object-fit: cover;
    border-radius: 7px;
  }

  h1 {
    font-size: 32px;
    line-height: 32px;
    color: $graphite;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    font-size: 19px;
    line-height: 28px;
    color: #868a8a;
  }
}

.RestaurantHeader--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & div {
    margin: 0 30 0 0px;
  }
}

.Display--main {
  display: flex;
  align-items: flex-start;
}

.Basket {
  width: 350px;
  position: sticky;
  top: 0;
  align-self: flex-start;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 7px;
  box-shadow: 0 0 15px #c0c2c2;
  button {
    width: 100%;
    height: 30px;
    background-color: #5acdbd;
    font-size: 16px;
    line-height: 16px;
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
    border-radius: 7px;
  }
  span {
    font-size: 16px;
    line-height: 16px;
  }
}

.Basket--line .total {
  font-size: 19px;
  line-height: 19px;
  color: $graphite;
  font-weight: 700;
}

.Basket--line {
  display: flex;
  justify-content: space-between;
}

.Basket--counter {
  & span:nth-child(2) {
    display: inline-block;
    width: 20px;
    text-align: center;
  }
}

.MenuSection {
  width: 822px;
  h1 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    margin: 30px 0 15px 0;
  }
}

.MenuSection--list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.MenuItem {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 160px;
  margin: 5px 0 15px 0;
  background-color: white;
  border-radius: 7px;
  padding: 15px 20px;
  box-sizing: border-box;
  h2 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 7px;
    color: $graphite;
  }
  p {
    color: $text;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    display: inline-block;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  cursor: pointer;
}
.MenuItem--left {
  display: flex;
  flex-direction: column;
  span {
    font-size: 17px;
    line-height: 17px;
  }
  & span:nth-child(1) {
    color: $text;
    margin-right: 20px;
  }
  & span:nth-child(2) {
    color: #ff8000;
    font-weight: 600;
  }
}

.MenuItem--right {
  padding-left: 10px;

  img {
    border-radius: 7px;
    width: 130px;
    height: 130px;
    object-fit: cover;
  }
}

.MenuItem--pricePopular {
  display: flex;
  justify-content: space-between;
}
