body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.Header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom: solid 1px #cfcfcf;
}

.Header--Logo {
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.container {
  width: 85vw;
  margin: auto;
}

.RestaurantHeader {
  /* height: 400px; */
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.RestaurantHeader img {
  height: 200px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.RestaurantHeader h1 {
  font-size: 32px;
  line-height: 32px;
  color: #2e3333;
  font-weight: 700;
  margin-bottom: 15px;
}

.RestaurantHeader p {
  font-size: 19px;
  line-height: 28px;
  color: #868a8a;
}

.RestaurantHeader--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RestaurantHeader--content div {
  margin: 0 30 0 0px;
}

.Display--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Basket {
  width: 350px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 15px #c0c2c2;
          box-shadow: 0 0 15px #c0c2c2;
}

.Basket button {
  width: 100%;
  height: 30px;
  background-color: #5acdbd;
  font-size: 16px;
  line-height: 16px;
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
  border-radius: 7px;
}

.Basket span {
  font-size: 16px;
  line-height: 16px;
}

.Basket--line .total {
  font-size: 19px;
  line-height: 19px;
  color: #2e3333;
  font-weight: 700;
}

.Basket--line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Basket--counter span:nth-child(2) {
  display: inline-block;
  width: 20px;
  text-align: center;
}

.MenuSection {
  width: 822px;
}

.MenuSection h1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  margin: 30px 0 15px 0;
}

.MenuSection--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.MenuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  height: 160px;
  margin: 5px 0 15px 0;
  background-color: white;
  border-radius: 7px;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.MenuItem h2 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 7px;
  color: #2e3333;
}

.MenuItem p {
  color: #808484;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  display: inline-block;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MenuItem--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MenuItem--left span {
  font-size: 17px;
  line-height: 17px;
}

.MenuItem--left span:nth-child(1) {
  color: #808484;
  margin-right: 20px;
}

.MenuItem--left span:nth-child(2) {
  color: #ff8000;
  font-weight: 600;
}

.MenuItem--right {
  padding-left: 10px;
}

.MenuItem--right img {
  border-radius: 7px;
  width: 130px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}

.MenuItem--pricePopular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=index.css.map */